<mat-card>
    Seja bem vindo ao grande grupo de vendas coletivas da web.
    Aqui, você poderá entrar apenas em grupos que você foi adicionada pelo administrador principal do grupo, caso você não
    esteja vendo o grupo, por favor contacte o responsável do grupo para que ele possa te adicionar e você possa usufruir dos benefícios
    das compras coletivas.

    Lembrando que: nenhum dos catálogos, itens, preços ou qualquer outra informação restrita, não pode ser divulgada para pessoas que não pertencem ao grupo.
</mat-card>