<div *ngIf="group">
    <div fxLayout="column" fxLayoutGap="20px" class="mb-20">
        <mat-toolbar color="basic">
            <mat-toolbar-row>
                <span>{{group.name}}</span>
                <span class="mattoolbar-spacer"></span>
                <button mat-icon-button color="warn"
                        [routerLink]="['/admin/group-settings/'+group.id]" *ngIf="'stores.update' | user | async">
                    <mat-icon>settings</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <mat-card>
        <mat-card-content class="full-width">
            <div fxLayoutAlign="start" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px">
                <div>
                    <mat-card>
                        <mat-icon class="fs-120 color-grey-500 auto-widht" *ngIf="!group.image">camera_alt</mat-icon>
                        <img [src]="(group.image && group.image.url_thumb) ? group.image.url_thumb : null" height="200">
                    </mat-card>
                </div>
                <div>
                    <h4>{{group.name}}</h4>
                    <p>{{group.description}}</p>
                    <p>Administrador(a): {{group.user.name}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>