<div >
  <div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%">
      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-header>
          <mat-card-title>
            <h1 class="md-display-3">Login</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="full-width">
          <form [formGroup]="loginForm" class="example-form" ngNativeValidate (ngSubmit)="login()">

            <div>
              <mat-form-field class="full-width">
                <input matInput placeholder="E-mail" formControlName="email" name="email" required>
                <mat-error *ngIf="validateFormControl.hasError('required')">
                  E-mail é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Senha" formControlName="password" name="password" required>
                <mat-error *ngIf="validateFormControl.hasError('required')">
                  Senha é <strong>obrigatória</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">ENTRAR</button>
            </mat-card-actions>
          </form>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>