<div >
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30%">
            <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title>
                        <h1 class="md-display-3">Login</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="full-width">
                    <form class="example-form">
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                            </mat-form-field>
                        </div>
                    </form>
                    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="login()" color="primary">Login</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>