<div >
	<section>
		<div class="container" fxLayout="row" fxLayoutAlign="start stretch">
			<div fxFlex="80%">
				<mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
					<mat-card-header>
						<mat-card-title>
							<h1 class="md-display-3">Cadastro de Clientes</h1>
						</mat-card-title>
					</mat-card-header>
					<mat-card-content class="full-width">
						<form #myForm="ngForm" class="example-form" ngNativeValidate (ngSubmit)="save()">
							
							<div [formGroup]="registerForm">
								<mat-form-field class="full-width">
									<input matInput placeholder="Nome Completo" formControlName="name" name="name" required>
									<mat-error *ngIf="validateFormControl.hasError('required')">
										Nome é <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div [formGroup]="registerForm">
								<mat-form-field class="full-width">
									<input matInput placeholder="CPF" formControlName="cpf" appMask="999.999.999-99" name="cpf" required>
									<mat-error *ngIf="validateFormControl.hasError('required')">
										CPF <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div [formGroup]="registerForm">
								<mat-form-field class="full-width">
									<input matInput placeholder="Telefone" formControlName="cellphone" type="tel" name="cellphone" required>
									<mat-error *ngIf="validateFormControl.hasError('required')">
										Telefone é <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div [formGroup]="registerForm">
								<mat-form-field class="full-width">
									<input matInput placeholder="Email" formControlName="email" name="email" required>
									<mat-error *ngIf="validateFormControl.hasError('email') && !validateFormControl.hasError('required')">
										Email inválido.
									</mat-error>
									<mat-error *ngIf="validateFormControl.hasError('required')">
										Telefone é <strong>obrigatório</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<mat-card-actions fxLayout="column" fxLayoutAlign="center center">
								<button mat-raised-button color="primary" type="submit">Cadastrar</button>
							</mat-card-actions>
							<p>Resultado: {{ result }}</p>
						</form>
						<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</section>
</div>