/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width {
  width: 100%;
}

@for $i from 1 through 150{
  .fs-#{$i} { font-size: $i + 0px }
}

@for $i from 1 through 100{
  .m-#{$i} { margin: $i + 0px }
}

@for $i from 1 through 100{
  .mb-#{$i} { margin-bottom: $i + 0px }
}

@for $i from 1 through 100{
  .mt-#{$i} { margin-top: $i + 0px }
}

@for $i from 1 through 100{
  .ml-#{$i} { margin-left: $i + 0px }
}

@for $i from 1 through 100{
  .mg-#{$i} { margin-right: $i + 0px }
}

@for $i from 1 through 100{
  .p-#{$i} { padding: $i + 0px }
}

@for $i from 1 through 100{
  .pb-#{$i} { padding-bottom: $i + 0px }
}

@for $i from 1 through 100{
  .pt-#{$i} { padding-top: $i + 0px }
}

@for $i from 1 through 100{
  .pl-#{$i} { padding-left: $i + 0px }
}

@for $i from 1 through 100{
  .pg-#{$i} { padding-right: $i + 0px }
}


.mattoolbar-spacer {
  flex: 1 1 auto;
}

.mattoolbar-icon{
  padding: 0 25px;
}

.cursor{
  cursor: pointer;
}

.text-align-center{
  text-align: center;
}

.auto-widht{
  width: auto !important;
}

.clearfix{
  clear: both;
}

.image-upload>input {
  display: none;
}

.camera-upload{
  font-size: 150px;
  width: 100% !important;
}

.img-h100{
  height:100%;
}