<div fxLayout="column" fxLayoutGap="20px" *ngIf="group">
    <div>
        <mat-toolbar color="basic">
            <mat-toolbar-row>
                <span>Grupo {{group.name}} - CONFIGURAÇÃO</span>
                <span class="mattoolbar-spacer"></span>
                <button mat-icon-button color="warn"
                        [routerLink]="['/admin/group-detail/'+group.id]">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div>
        <mat-card>
            <mat-card-content class="full-width">
                <form [formGroup]="groupSettingsForm" class="example-form" ngNativeValidate>
                    <div fxLayoutAlign="center">
                        <app-upload-image [image]="group.image" (imageOutput)="reciverImage($event)"></app-upload-image>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nome do grupo de vendas" formControlName="name" name="name" required>
                            <mat-error *ngIf="validateFormControl.hasError('required')">
                                O nome do grupo é <strong>obrigatório</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <textarea rows="4" matInput placeholder="Descrição" formControlName="description"
                                      name="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Administradora" aria-label="Administradora"
                                   [matAutocomplete]="auto" formControlName="tempUser">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                              [displayWith]="displayFn" (optionSelected)="userSelected($event)">
                                <mat-option *ngFor="let user of (filteredUsers | async)" [value]="user">
                                    <img class="option-img" aria-hidden [src]="(user.file && user.file.url_thumb) ? user.file.url_thumb : noimage" height="25">
                                    <span>{{user.name}}</span> |
                                    <small>Telefone: {{user.cellphone}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!groupSettingsForm.valid">
                                SALVAR
                            </button>
                        </mat-card-actions>
                    </div>
                </form>
            </mat-card-content>

        </mat-card>

        <!--<mat-card>-->
            <!--<table mat-table [dataSource]="users" class="mat-elevation-z8 full-width" *ngIf="users.length > 0">-->
                <!--<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">-->
                    <!--<th mat-header-cell *matHeaderCellDef> {{column}} </th>-->
                    <!--<td mat-cell *matCellDef="let element">-->
                        <!--<div></div>-->
                        <!--<div *ngIf="">-->
                            <!--<img class="option-img" aria-hidden [src]="(element.file && element.file.url_thumb) ? element.file.url_thumb : noimage" height="25">-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</ng-container>-->
                <!--<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
                <!--<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>-->
            <!--</table>-->
        <!--</mat-card>-->
        {{users | json}}
    </div>
</div>
