<div fxLayout="column" fxLayoutGap="20px">
    <div>
        <mat-toolbar color="basic">
            <mat-toolbar-row>
                <span>Meus Grupos</span>
                <span class="mattoolbar-spacer"></span>
                <mat-icon class="mattoolbar-icon">favorite</mat-icon>
                <mat-icon class="mattoolbar-icon">delete</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="myGroups">
        <div fxFlex="25%" *ngFor="let item of myGroups">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{item.group}}</mat-card-title>
                    <mat-card-subtitle>Responsável: {{item.owner}}</mat-card-subtitle>
                </mat-card-header>
                <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                <mat-card-content>
                    <p>{{item.group_description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/group-detail']">ENTRAR</button>
                    <button mat-button color="warn">SAIR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>